body {
  height: 100%;
  font-family: arial;
  font-size: 18px;
  color: #555555;
  margin: 0;
}

header {
  position: fixed;
  top: 0; left: 0; right: 0;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
  background: linear-gradient(0, #f4f4f4, #e8e8e8);
  border-bottom: #d0d0d0 1px solid;
  padding: 8px;
}

header > * {
}

header > *:first-child {
  text-align: left;
  margin-right: 10px;
  width: 57px;
}

header > *:nth-child(2) {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  text-align: center;
}

header > *:last-child {
  text-align: right;
  margin-left: 10px;
  width: 57px;
}

#header-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
}

#content {
  margin-top: 50px;
  padding: 0px 8px;
}

.transparent-button {
  text-align: center;
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid #c8c8c8;
  cursor: pointer;
  color: #909090;
  font-size: 15px;
  line-height: 15px;
  padding: 6px 9px;
  text-decoration: none;
}
.transparent-button:active {
  background-color: rgba(240,240,240,0.5);
}

input {
  border: 1px #d0d0d0 solid;
  -webkit-appearance: none;
  box-sizing: border-box;
  color: #555555;
  font-size: inherit;
  font-family: inherit;
}

.new-channel {
  width: 100%;
  text-align: center;
  padding: 40px 0;
}
.new-channel input {
  width: 90%;
  padding: 6px;
}
.new-channel button {
  display: block;
  margin: 15px auto;
}

.leaf-channel form {
  padding: 0 9px;
}

.leaf-channel input {
  width: 100%;
  padding: 6px;
}

.virt-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.virt-list > li {
  padding: 8px;
  border-bottom: 1px solid #d0d0d0;
  cursor: pointer;
}

.list-link:hover, .list-link:visited, .list-link:link, .list-link:active {
  text-decoration: none;
}
.list-link:hover, .list-link:visited, .list-link:link, .list-link:active {
  color: inherit;
}
