body {
  height: 100%;
  font-family: arial;
  font-size: 18px;
  color: #555555;
  margin: 0;
  background-color: #f8f8f8;
}

header {
  position: fixed;
  box-sizing: border-box;
  left: 0; right: 0;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
  padding: 8px;
  font-weight: bold;

  height: 52px;
  top: 0;
  background: linear-gradient(0, #f4f4f4, #e8e8e8);
}

header > *:first-child {
  text-align: left;
  margin-right: 10px;
}

header > *:nth-child(2) {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  text-align: center;
}

header > *:last-child {
  text-align: right;
  margin-left: 10px;
}

header > *:first-child, header > *:last-child {
  width: 57px;
}

#header-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
}

#header-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
}

#content {
  margin-top: 52px;
}

.transparent-button {
  text-align: center;
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid #c8c8c8;
  cursor: pointer;
  color: #909090;
  font-size: 15px;
  line-height: 15px;
  padding: 6px 9px;
  text-decoration: none;
}
.transparent-button:active {
  background-color: rgba(240,240,240,0.5);
}

input {
  border: 1px #d0d0d0 solid;
  -webkit-appearance: none;
  box-sizing: border-box;
  color: #555555;
  font-size: inherit;
  font-family: inherit;
}

.new-thread, .new-channel {
  width: 100%;
  text-align: center;
  padding: 40px 0;
}
.new-thread input, .new-channel input {
  width: 90%;
  padding: 6px;
}
.new-thread button, .new-channel button {
  display: block;
  margin: 15px auto;
}

.leaf-chat form {
  box-sizing: border-box;
  padding: 6px;
  width: 100%;
}

.leaf-chat input {
  width: 100%;
  padding: 6px;
  margin: 0;
}

.virt-list {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: white;
}

.virt-list > li {
  padding: 14px;
  cursor: pointer;
}

.virt-list > li, header {
  border-bottom: 1px solid #e0e0e0;
}

.virt-list > li .name {
  margin-bottom: 4px;
}

.virt-list > li .aux {
  font-size: 14px;
  color: #999;
}

.list-link:hover, .list-link:visited, .list-link:link, .list-link:active {
  text-decoration: none;
}
.list-link:hover, .list-link:visited, .list-link:link, .list-link:active {
  color: inherit;
}

#loading {
  text-align: center;
  padding-top: 26px;
}
