.virt-list {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: white;
}

.virt-list > li {
  padding: 14px;
  cursor: pointer;
}

.virt-list > li, header {
  border-bottom: 1px solid #e0e0e0;
}

.virt-list > li .name {
  margin-bottom: 4px;
}

.virt-list > li .aux {
  font-size: 14px;
  color: #999;
}

#loading {
  text-align: center;
  padding-top: 26px;
}

#radio-selector {
  background-color: white;
  border: 1px solid #d0d0d0;
  border-radius: 6px;
  width: 90%;
  display: inline-block;
  padding: 0px;
  box-sizing: border-box;
  margin: 15px 0;
}

.radio-option {
  padding: 8px;
  border-bottom: #d0d0d0 1px solid;
  text-align: left;
}
.radio-option:last-child {
  border-bottom: none;
}

.radio-option > .check {
  margin-right: 8px;
}
.radio-option:not(.radio-option-selected) > .check {
  visibility: hidden;
}
.radio-option-selected > .check {
  visibility: visible;
}
